body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    font-size: 16px;
}

#botao-mais {
    width: 20px;
    height: 20px;
}

#img-mais {
    margin-left: auto;
}

#nome {
    margin-left: auto;
}

.titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    font-size: 18px;
    color: #181818;
    padding-top: 20px;
    padding-left: 32px;
}


