@font-face {
    font-family: "SFPro";
    src: url('/assets/fontes/SFPro.OTF');
}

* {
    margin: 0;
    padding: 0;
    font-family: "SFPro";
    font-weight: 600;
}

img[src$="Icone-Voltar.png"] {
    width: 14px !important;
    height: 18px !important;
    object-fit: contain;
    flex-shrink: 0;
}