@font-face {
    font-family: "SFPro";
    src: url('/assets/fontes/SFPro.OTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SFPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: 500;
}
