<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/global/global.css}">
    <link rel="stylesheet" th:href="@{/assets/css/login-admin/login-admin.css}">
    <link rel="icon" th:href="@{/assets/icones/Icone-Adm.png}" type="image/png">
    <title>Login - Admin</title>
</head>
<body>
    <div class="titulo">
        <img th:src="@{/assets/icones/Logo.png}" alt="logo" width="300" height="100">
        <h1 id="texto-login" >Login - Administrador</h1>
    </div>
    <form class="formulario">
        <div id="div-email">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Digite seu email">
        </div>
        <div class="div-formulario">
            <label for="senha">Senha</label>
            <input id="senha" type="password" placeholder="Digite sua senha">
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>