<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/global/global.css}">
    <link rel="stylesheet" th:href="@{/assets/css/perfil-medico/perfil-medico.css}">
    <link rel="icon" th:href="@{/assets/icones/Icone-Usuario.png}" type="image/png">
    <title>Editar Perfil - MedXF</title>
</head>
<body>
<header>
    <a th:href="@{/medico/home}" id="botao-mais">
        <img id="img-mais" th:src="@{/assets/icones/Icone-Voltar.png}" alt="icone de voltar" width="20" height="20">
        <span>Menu Principal</span>
    </a>
    <h1 id="nome"></h1>
    <img th:src="@{/assets/icones/Logo2.png}" alt="logo" width="100" height="40">
</header>
<div class="layout">
    <main class="content">
        <div class="page-header">
            <div>
                <h1>Médico</h1>
                <p>Insira os dados que deseja editar.</p>
            </div>
        </div>
        <div class="patient-grid">
            <div class="patient-card">
                <form th:action="@{/medico/perfil}" method="post" enctype="multipart/form-data">
                    <div class="patient-top">
                        <div class="avatar-container">
                            <img id="previewFoto" class="avatar" th:src="${medicoFoto != null} ? @{'/uploads/' + ${medicoFoto}} : @{/assets/icones/Perfil.png}" alt="Foto do médico">
                            <label for="foto" class="upload-btn">
                                Alterar foto
                            </label>
                            <input type="file" id="foto" name="foto" accept="image/*">
                        </div>
                        <div class="patient-info">
                            <h2 th:text="${medico[0]}"></h2>
                            <span>Dados do Médico</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nome Completo</label>
                        <input type="text" th:placeholder="${medico[0]}" name="nome">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" th:placeholder="${medico[1]}" name="email">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" placeholder="Senha" name="senha">
                    </div>
                    <div class="form-group">
                        <label>CRM</label>
                        <input type="text" th:placeholder="${medico[2]}" name="crm" maxlength="6">
                    </div>
                    <div class="form-group">
                        <label>Especialidade</label>
                        <select name="especialidade" id="especialidade-medico">
                            <option value="GERAL">Geral</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Clínica / Hospital</label>
                        <input type="text" th:placeholder="${medico[3]}" name="hospital">
                    </div>
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" th:placeholder="${medico[4]}" name="cidade">
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <input type="text" th:placeholder="${medico[5]}" name="estado">
                    </div>
                    <div class="actions">
                        <button type="submit" class="save-btn" style="width: 100%;">
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script th:if="${perfilAtualizado}">
    Swal.fire({
        icon: 'success',
        title: 'Perfil atualizado!',
        text: 'As informações foram atualizadas com sucesso.',
        confirmButtonText: 'OK',
        confirmButtonColor: '#2563EB'
    });
</script>
<script>
    document.getElementById('foto').addEventListener('change', function () {

        const arquivo = this.files[0];

        if (arquivo) {
            document.getElementById('previewFoto').src =
                URL.createObjectURL(arquivo);
        }
    });
</script>

</body>
</html>