<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/global/global.css}">
    <link rel="stylesheet" th:href="@{/assets/css/home-medico/home-medico.css}">
    <link rel="icon" th:href="@{/assets/icones/Icone-Casa.png}">
    <title>Home - MedXF</title>
</head>
<body>
<header>
    <div class="menu-container">
        <button id="icone-mais">
            <img th:src="@{/assets/icones/Mais-Info.png}" alt="mais" width="20px" height="15px">
        </button>
        <div id="popup-menu" class="popup-dropdown">
            <nav class="popup-links">
                <a th:href="@{/medico/home}" class="popup-item"><span>Início</span></a>
                <a th:href="@{/medico/triagem}" class="popup-item"><span>Nova Triagem</span>
                </a>
                <a th:href="@{/medico/pacientes}" class="popup-item">
                    <span>Todos Pacientes Cadastrados</span>
                </a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="popup-item">
                        <span>Sair</span>
                    </button>
                </form>
            </nav>
        </div>
    </div>
    <img th:src="@{/assets/icones/Logo2.png}" alt="logo" width="125px" height="50px">
    <div class="usuario">
        <p id="nome-doutor" th:text="${medico[0]}"></p>
        <a th:href="@{/medico/perfil}">
            <img class="avatar"
                 th:if="${medicoFoto != null}"
                 th:src="@{'/uploads/' + ${medicoFoto}}"
                 alt="Foto do médico">

            <img class="avatar"
                 th:unless="${medicoFoto != null}"
                 th:src="@{/assets/icones/Perfil.png}"
                 alt="Foto padrão">
        </a>
    </div>
</header>
<div class="container">
    <div class="principal">
        <h1>Bem vindo, <span th:text="${medico[0]}"></span> </h1>
        <h2>Menu principal MedXF - Sistema de triagem X frágil</h2>
        <div class="caixas">
            <button class="caixa">
                <p class="subtitulo">Avaliações Realizadas</p>
                <p class="numero" th:text="${infos[0]}"></p>
            </button>
            <button class="caixa">
                <p class="subtitulo">Pacientes cadastrados</p>
                <p class="numero" th:text="${infos[1]}"></p>
            </button>
            <button class="caixa">
                <p class="subtitulo">Alto Risco</p>
                <p class="numero" th:text="${infos[2]}"></p>
            </button>
        </div>
        <div class="lista">
            <div class="lista-header">
                <h3>Pacientes cadastrados</h3>
                <a th:href="@{/medico/pacientes}" class="ver-mais">
                    Ver todos
                </a>
            </div>
            <table>
                <thead>
                <tr>
                    <th class="titulo-lista">Paciente</th>
                    <th class="titulo-lista">Idade</th>
                    <th class="titulo-lista">Sintomas</th>
                    <th class="titulo-lista">Risco</th>
                    <th class="titulo-lista">Data Cadastro</th>
                    <th class="titulo-lista">Status</th>
                    <th class="titulo-lista">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${pacientesHome}">
                    <td class="conteudo-lista">
                        <div class="medico">
                            <img class="avatar"
                                 th:if="${p.fotoPerfil != null}"
                                 th:src="@{'/uploads/' + ${p.fotoPerfil}}"
                                 width="40"
                                 height="40">

                            <img class="avatar"
                                 th:unless="${p.fotoPerfil != null}"
                                 th:src="@{/assets/icones/Perfil.png}"
                                 width="40"
                                 height="40">
                            <div>
                                <div class="nome" th:text="${p.nome}"></div>
                                <div class="email" th:text="${p.email}"></div>
                            </div>
                        </div>
                    </td>
                    <td class="conteudo-lista" th:text="${p.idade}"></td>
                    <td class="conteudo-lista" th:text="${p.sintomas}"></td>
                    <td class="conteudo-lista">
                        <div class="badge"
                             th:text="${p.risco}"
                             th:classappend="${p.risco.name() == 'ALTO'} ? ' risco-alto' : ' risco-baixo'">
                        </div>
                    </td>
                    <td class="conteudo-lista"
                        th:text="${#temporals.format(p.data, 'dd/MM/yyyy')}">
                    </td>
                    <td class="conteudo-lista">
                        <div class="badge"
                             th:text="${p.status}"
                             th:classappend="${p.status.name() == 'CONCLUIDO'} ? ' status-concluido' : ''">
                        </div>
                    </td>
                    <td class="conteudo-lista">
                        <a th:href="@{/medico/gerenciar/paciente/{id}(id=${p.id})}"
                           id="botao-gerenciar">
                            Gerenciar
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    const btnMenu = document.getElementById('icone-mais');
    const popupMenu = document.getElementById('popup-menu');

    btnMenu.addEventListener('click', (e) => {
        e.stopPropagation();
        popupMenu.classList.toggle('ativo');
    });

    document.addEventListener('click', (e) => {
        if (!popupMenu.contains(e.target) && e.target !== btnMenu) {
            popupMenu.classList.remove('ativo');
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script th:if="${sucesso}">
    Swal.fire({
        icon: 'success',
        title: 'Triagem realizada!',
        text: 'O cadastro foi concluído com sucesso.',
        confirmButtonText: 'OK',
        confirmButtonColor: '#2563EB'
    });
</script>

</body>
</html>