body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F4F7FB;
    font-family: sans-serif;
}

header {
    height: 72px;
    background-color: #1565D8;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

h1 {
    color: #FFFFFF;
    font-size: 16px;
}

#botao-mais {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#img-mais {
    margin-left: auto;
}

#nome {
    margin-left: auto;
}

.titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    font-size: 22px;
    color: #1E293B;
    padding-top: 40px;
    padding-left: 32px;
    font-weight: 600;
}

.formulario {
    display: flex;
    justify-content: center;
    min-height: 85vh;
    margin-top: 20px;
    padding: 0 20px;
}

.formulario form {
    width: 100%;
    max-width: 450px;
}

.nomes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin-top: 16px;
}

input {
    width: 100%;
    height: 42px;
    background-color: #EAEAEA;
    border: 2px solid #E0E3E7;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 15px;
    color: #5D5D5D;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

input:focus, #especialidade-medico:focus {
    border-color: #1565D8;
}

#especialidade-medico {
    width: 100%;
    background-color: #EAEAEA;
    border: 2px solid #E0E3E7;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 15px;
    color: #5D5D5D;
    height: 42px;
    box-sizing: border-box;
    outline: none;
}

.continuar {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    padding: 0;
}

#botao-continuar {
    width: 100%;
    height: 46px;
    background-color: #1565D8;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

#botao-continuar:hover {
    background-color: #114ea4;
    transform: scale(1.02);
}