<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/assets/css/global/global.css}">
  <link rel="stylesheet" th:href="@{/assets/css/avaliação-medico/avaliação-medico.css}">
  <link rel="icon" th:href="@{/assets/icones/Icone-Usuario.png}" type="image/png">
  <title>Nova Triagem - MedXF</title>
</head>
<body>
<header>
  <a th:href="@{/medico/triagem}" id="botao-mais">
    <img id="img-mais" th:src="@{/assets/icones/Icone-Voltar.png}" alt="icone de voltar" width="20" height="20">
  </a>
  <h1>Menu Principal</h1>
  <h1 id="nome"></h1>
  <img th:src="@{/assets/icones/Logo2.png}" alt="logo" width="100" height="40">
</header>
<div class="titulo">
  <h2>Questionario</h2>
</div>
<div class="checklist">

  <div class="checklist-topo">
    <h3>Sintoma</h3>
    <h3>Peso</h3>
  </div>


  <div class="check-item">

    <div class="info-sintoma">

      <p>Deficiência intelectual</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Face alongada / orelhas grandes</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>


  <div class="check-item">

    <div class="info-sintoma">

      <p>Macroorquidismo</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Hipermobilidade articular</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Dificuldades de aprendizagem</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Déficit de atenção</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Movimentos repetitivos</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Atraso na fala</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Hiperatividade</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Evita contato visual</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Evita contato físico</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>



  <div class="check-item">

    <div class="info-sintoma">

      <p>Agressividade</p>

      <details class="observacao">

        <summary>
          Adicionar observações médicas
        </summary>

        <textarea
                placeholder="Digite as observações do médico...">
                </textarea>

      </details>

    </div>

    <input type="checkbox">

  </div>

</div>

    <div class="continuar">
      <a th:href="@{/medico/resultado" id="botao-continuar">
        Finalizar Triagem
      </a>
    </div>

</body>
</html>