@font-face {
    font-family: "SFPro";
    src: url('/assets/fontes/SFPro.OTF');
}

* {
    margin: 0;
    padding: 0;
    font-family: "SFPro";
    font-weight: 600;
}

header {
    height: 60px;
    background-color: #1565D8;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    gap: 780px;
}

p {
    font-size: 16px;
    color: white;
    white-space: nowrap;
}

h1 {
    color: black;
    font-size: 28px;
}

h2 {
    color: #64748B;
    font-size: 18px;
}

p {
    color: #64748B;
}